.hangman {
  border: 2px #ccc dashed;
  width: 40rem;
  height: 10rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 5rem;

  &__img {
    width: 8rem;
    height: 8rem;
  }

  &__mistakes {
    display: flex;
    gap: 1rem;
  }
}

.mistakes-letter {
  font-size: 2rem;
  position: relative;

  &--line {
    position: absolute;
    top: 1.2rem;
    right: -0.6rem;
    transform: rotate(-45deg);
    width: 200%;
    height: 1px;
    background: red;
  }
}

.clue {
  background: #FFF375;
  width: 40rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 0.3rem;
}

.solution {
  width: 40rem;
  height: 2rem;
  padding: 1rem;
  display: flex;
  gap: 3rem;
  justify-content: center;

  &__div {
    width: 4rem;
    height: 1.5rem;
    display: flex;
    place-content: center;
    border-bottom: 2px solid #ccc;
  }
}

.check-input {
  width: 20rem;
  height: 2rem;
  border-radius: 0.3rem;
  padding: 0 1rem;
}

.check-button {
  background: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}


