<h1>El juego del ahorcado</h1>
<div class="hangman">
  <div class="hangman__img">
    <img src="" alt="" class="mistake-one">
    <img src="" alt="" class="mistake-two">
    <img src="" alt="" class="mistake-three">
    <img src="" alt="" class="mistake-four">
    <img src="" alt="" class="mistake-five">
    <img src="" alt="" class="mistake-six">
  </div>
  <div class="hangman__characteres">
  </div>
</div>
<div class="clue">
  <h2>Pista</h2>
  <p>{{clue}}</p>
</div>
<div class="solution">
  <p class="solution__text">{{solution}}</p>
</div>
<input class="check-input" type="text" maxlength="1" placeholder="Introduce una letra">
<button class="check-button">Probar letra</button>
