<h1>El juego del ahorcado</h1>
<div class="hangman">
  <img class="hangman__img" src="assets/hangman-attempt-{{counterWrongLetters}}.svg" alt="Ahorcado"
       *ngIf="counterWrongLetters">
  <div class="hangman__mistakes">
    <div class="mistakes-letter" *ngFor="let letter of wrongLetters">
      <p>{{letter}}</p>
      <span class="mistakes-letter--line"></span>
    </div>
  </div>
</div>
<div class="clue">
  <h2>Pista</h2>
  <p>{{clue}}</p>
</div>
<div class="solution">
  <div class="solution__div" *ngFor="let letter of correctLetters">
    <p class="solution__letter">{{letter}}</p>
  </div>
</div>
<input class="check-input" id="input-letter" #letterInput (keyup.enter)="checkLetter(letterInput.value.toUpperCase())"
       type="text"
       maxlength="1" placeholder="Introduce una letra">
<button class="check-button" (click)="checkLetter(letterInput.value.toUpperCase())">Probar letra</button>
